body {
    background-color: #ccc;
    color: #000;
    margin: 0;
}

a {
    color: #f00;
}

#info{
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    user-select: none;
    overflow-wrap: break-word;
}

#info-text {
    background-color: rgba(255, 255, 255, 0.5);
}

#scene3d {
    background-color: white;
}

.container {
    display: flex;
}

#scene3d {
    width: 70%;
    height: 100vh;
}

/**
 * if the scroll bar is displayed, the size of the left container has been update (70% of initial width value), thus
 * a thin column will be hidden. To avoid that:
 * - [X] do not display the scroll bar, avoid the height > 100%
 * - [_] body    {overflow-y:scroll;}
 * - [_] update canvas with new 70% size : canvas{ max-width: 100%; };
 */

body{
    /*overflow-y: hidden;*/
}

#photo-container {
    width: 30%;
    max-height: 100vh;
    text-align: center;
    position: relative;
}

#photo-container img {
    max-width: 100%;
    max-height: 100%;
}

#photo-container #photo-info{
    background-color: rgba(0,0,0,0.4);

    position: absolute;
    top: 0;
    left: 33%;
}
